<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="main.css" />
	<title>Gulp Handlebars Page</title>
</head>

<body>
	{{> header title="HEADER"}}
	<main>
		{{> body-left message="list area"}}
		{{> body-right message="this right partials"}}
	</main>
	{{> footer title="FOOTER"}}

	<!-- jQuery 및 스크립트 -->
	<script src="jquery.min.js"></script>
	<script src="handlebars.min.js"></script>
	<script src="https://accounts.google.com/gsi/client" async defer></script>
	<script>
		// Google 버튼 초기화 (전체 리소스 로드 후)
		window.onload = function () {
			google.accounts.id.initialize({
				client_id: '869060737175-l9ubpt4a20pis4lqsh4c9o89ensok0b5.apps.googleusercontent.com',
				callback: handleCredentialResponse
			});
			google.accounts.id.renderButton(
				document.getElementById('fncGoogleLogin'),
				{ theme: 'outline', size: 'large' }
			);
		};

		$(function () {
			// Handlebars 템플릿 읽기 및 컴파일
			var source = $('#list-template').html();
			var template = Handlebars.compile(source);

			// Ajax로 데이터 가져오기
			$.ajax({
				url: 'https://jsonplaceholder.typicode.com/posts',
				method: 'GET',
				success: function (data) {
					var html = template({ items: data });
					$('#list-container').html(html);
				},
				error: function (err) {
					console.error('Ajax 호출 실패', err);
				}
			});

			// 구글 로그인 콜백
			window.handleCredentialResponse = function (response) {
				const decoded = parseJwt(response.credential);
				$('#user-info').html(`<p>안녕하세요, ${decoded.name}님!</p><img src="${decoded.picture}" alt="Profile" width="50"/><p>Email: ${decoded.email}</p><p>Token: ${response.credential} `);
			};

			// JWT 디코드 함수
			function parseJwt(token) {
				const base64Url = token.split('.')[1];
				const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
				const jsonPayload = decodeURIComponent(
					atob(base64)
						.split('')
						.map((c) => '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2))
						.join('')
				);
				return JSON.parse(jsonPayload);
			}
		});
	</script>
</body>

</html>