<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="main.css" />
	<title>Gulp Handlebars Page</title>
</head>

<body>
	{{> header title="HEADER"}}
	<main>
		{{> body-left message="list area"}}
		{{> body-right message="this right partials"}}
	</main>
	{{> footer title="FOOTER"}}

	<!-- jQuery 및 스크립트 -->
	<script src="jquery.min.js"></script>
	<script src="handlebars.min.js"></script>
	<script>
		$(function () {
			// 템플릿 읽어오기
			var source = $('#list-template').html();
			var template = Handlebars.compile(source);
			$('#fncBodyBtn').click(function () {
				alert($(this).text());
			});
			$('#fncBodyBtnGoto').click(function () {
				window.location.href = '/about.html';
			})
			// Ajax 호출
			$.ajax({
				url: 'https://jsonplaceholder.typicode.com/posts', // 예시 URL (실제 API URL로 변경)
				method: 'GET',
				success: function (data) {
					// list.hbs는 items 배열을 기대하므로, { items: data } 형태로 전달
					var html = template({ items: data });
					$('#list-container').html(html);
				},
				error: function (err) {
					console.error('Ajax 호출 실패', err);
				}
			});
		})
	</script>
</body>

</html>